body {
  background-color: black;
}

.card {
  border: 1px solid #09d3ac;
  position: absolute;
  will-change: transform, height, opacity;
  width: 100%;
  overflow: scroll;
}

.list {
  position: relative;
  height: 100%;
}

.App {
  text-align: center;
  width: 500px;
  background-color: black;
  overflow-wrap: break-word;
  color: yellow;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
